<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <form id="search-form" action="/search" method="POST">
            <div class="search-bar">
                <span class="logo">Wiggle</span>
                <input type="text" name="query" placeholder="Search">
                <div class="buttons">
                    <a href="ссылка на главную страницу" class="button-link">Main website</a>
                    <a href="https://github.com/01cheese" class="button-link">GitHub</a>
                </div>

            </div>
        </form>
        <button class="theme-switcher">Theme</button>
                  
    </div>
    <script src="static/script.js"></script>
</body>
</html>
