<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="loading-bar"></div>
    <div class="header">
        <form id="search-form" action="/search" method="POST">
            <div class="search-bar">
                <span class="logo">Wiggle</span>
                <input type="text"  name="query" placeholder="Search" required>
            </div>
            <div class="buttons">
                <a href="/" class="button-link">Main</a>
                <a href="https://github.com/01cheese/Search-engine-on-Simple-Wikipedia" class="button-link">GitHub</a>
                <a href="https://simple.wikipedia.org/wiki/Main_Page" class="button-link">Search data</a>
            </div>

        </form>
    </div>
    <div class="container">
        <button class="theme-switcher">Theme</button>
        <div class="search-results-container">
            <div class="search-results"></div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
